:root {
    --main-size : 2rem;
    --primary-bg-color : blue ;
    --secondary-bg-color : yellow ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "keke" ;
    src: url("./Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

h1 {
    font-family:"keke"  ;
    padding: 1rem;
    font-size : var( --main-size ) ;
    background-color: var(--primary-bg-color );
}

li {
    background-color:var(--secondary-bg-color) ;
}

h2 {
    font-family:"keke"  ;
    padding: 1rem;
    font-size : var( --main-size ) ;
    background-color: var(--primary-bg-color );
}

h3 {
    font-family:"keke"  ;
    padding: 1rem;
    font-size : var( --main-size ) ;
    background-color: var(--primary-bg-color );
}
button {
    background-color: var(--primary-bg-color );
}